# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore Docker stuff
*.log
*.pid

# ignore zip file
*.zip

# optional tambahan (best practice DevOps)
*.tar
*.gz
*.rar

.env